

<div class="container">
    <div class="row">

      <div class="col-4">

    <section class="mx-auto my-5" style="max-width: 23rem;">

        <button  class="btn btn-info mt-2" *ngIf="auth.userInfo.tipo == 'especialista'" (click)="verHorarios()">{{verHorariosBtn}}</button>
        
      <div class="card testimonial-card mt-2 mb-3" style=" border-color: blue; border-width: 4px;">
        <div class="card-up aqua-gradient"></div>
        <div class="avatar mx-auto white">
          <img src="{{auth.userInfo.fotoPerfil}}" class="rounded-circle  img-fluid" style="width: 300px; height: 150px;"
            alt="woman avatar">
        </div>
        <div class="card-body text-center" >
          <h4 class="card-title font-weight-bold">{{this.auth.userInfo?.nombre}} {{this.auth.userInfo?.apellido}}</h4>
          <hr>
          <h4 *ngIf="auth.userInfo.tipo == 'especialista'" class=" font-weight-bold">Especialidad : {{this.auth.userInfo?.especialidad}} </h4>
          <hr>
          <h4 class="font-weight-bold">Dni : {{this.auth.userInfo?.dni}} </h4>
          <hr>
          <h4 class=" font-weight-bold">Email : {{this.auth.userInfo?.mail}} </h4>
          <hr>
          <h4 *ngIf="auth.userInfo.tipo == 'especialista'" class=" font-weight-bold">Dias : {{this.auth.userInfo?.dias}} </h4>
         
        </div>
      </div>
      
    </section>
     
    </div>

    


    <!--COL 2-->
    <div class="col-4" marginheight="40px">

        
        
        <section class="mx-auto my-5" style="max-width: 23rem;">
        <div class="col card" style="padding: 5px; border-radius: 10px;" *ngIf="this.horarios">

            <button type="button" class="btn-info"  *ngFor="let item of diasArray"(click)="elegirDia(item)">{{item}}</button>
  
           
  
            
          </div>
          
          <div class="d-flex justify-content-between text-center mt-5 mb-2" *ngIf="this.horarios ">
            <div class="px-3">
              <p class="mb-2 h5">HORARIOS: {{usuario.horarios}} </p>
              <p class="text-muted mb-0"></p>
              <p class="mb-2 h5">DIAS: {{usuario.dias}}</p>
              <p class="text-muted mb-0"></p>
            </div>
          </div>

        </section>


     
  
  </div>

        <div class="col-4">

            <section class="mx-auto my-5" style="max-width: 23rem;">

                   <div class="col card" style="padding: 7px; border-radius: 10px;" *ngIf="this.horarios">
            <div class="row">
              <div class="col-md-3" style="margin-top: 10px" *ngFor="let item of horasArray">   
                <button type="button" class="btn-info" (click)="elegirHorario(item)">{{item}}</button>
              </div> 
            </div>
            <br>


            <button type="button" class="btn btn-block btn-info" (click)="enviarHorarios()">Confirmar</button>
        
        
        </div>
       
    </section>

    

      </div>

      <!---SECCION PACIENTE HISTORIA CLINICA-->

      <div *ngIf="auth.userInfo.tipo == 'paciente'">
      <div  *ngFor="let item of arrEspecialidadesValidas">
      
            <button class="btn btn-danger" (click)="crearPDF(item)">Crear Pdf: {{item}}s</button>
       
      </div>
    </div>

      <div class="container" *ngIf="auth.userInfo.tipo == 'paciente'">     
         <div  *ngIf="this.historiaClinica">

        <div  *ngFor="let item of historiaClinicaBD">

        
        <div class="row" *ngIf="item.dniPaciente == auth.userInfo.dni">
          <div class="col card col-md-6" style="margin-top: 10px" >   
            <!-- <button type="button" class="btn-info" (click)="seleccionHorario(item)">{{item}}</button>-->
            <p class="card-header text-center">Historia Clinica</p>
            <hr>
            <p class="card-text" >Especialista: {{item.especialista}}</p>
            <hr>
            <p class="card-text">Especialidad: {{item.especialidad}}</p>
            <p class="card-text">Reseña: {{item.resenia}}</p>
            <p class="card-text">Peso: {{item.peso}}</p>
            <p class="card-text">Altura: {{item.altura}}</p>
            <p class="card-text">Presion: {{item.presion}}</p>
            <p class="card-text">Temperatura: {{item.temperatura}}</p>
            <div *ngFor="let claveValor of item.claveValor">
              <p class="card-text" style="margin-bottom: 8px ;" *ngIf="claveValor.clave != ''  &&  claveValor.clave != '' ">{{claveValor.clave}} : {{claveValor.valor}}</p>
             </div>

            
          </div> 
        </div>
        <br>

       
          
    
    
        
   
      </div>



     </div>
    </div>




    

</div>
</div>





 
