.card-footer{
    /* background-color: rgb(130, 22, 22);
     background-color: azure;*/
 /*
     background-blend-mode: multiply;
         background-color: rgb(233, 204, 204); */
 
         background: linear-gradient(110deg, #eaf3f4 60%, #d4ecf4 60%);
 }
 
 .card-body{
     /* background-color: rgb(130, 22, 22);
      background-color: azure;*/
  /*
      background-blend-mode: multiply;
          background-color: rgb(233, 204, 204); */
  
          background-color:whitesmoke;
  }
  
 
  .card-header{
     /* background-color: rgb(130, 22, 22);
      background-color: azure;*/
  /*
      background-blend-mode: multiply;
          background-color: rgb(233, 204, 204); */
  
          background: linear-gradient(110deg, #eaf3f4 60%, #d4ecf4 60%);
  }
  
  
  .container-resenia{
 
     margin-bottom: 50px;
 }
 
 