.btn-space {
   
    margin-top: 0.2rem;
     margin-right: 0.8rem;
     margin-left: 0.5rem;
 }
 
 .navbar-custom {
     background-color: rgb(149, 167, 203);
 }

 .custom {
   color: rgb(255, 255, 255);
}
 
.navbar{
    background-color: rgb(32, 8, 215);

}
.navbar.text{
    background-color: rgb(253, 253, 254);
    
}

.nav-item .nav-link{
    color: aliceblue;
    margin-top: 12px;
   // margin-left: 2px;
   
    font-size: 20px;
    
}

.nav-titulo{
    margin-top: 10px;
    margin-right: 25px;
    color: aliceblue;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}


 
.txt-bienvenido{

    color: aliceblue;
    text-decoration:solid;
   
   }
 
 .tam-letra{
 
     font-size:1.1rem;
 }
 
 .letra-registro{
    color: azure;
 }
 
 .imagen{
 
      size: 60px;
     width: 60px;
    
    
 }
 
 .div-botones{
    margin-top: 10px;
     margin-left:50rem;
 
 }

 .btnOtros{
    margin-top: 10px;
    // margin-left:40rem;
 
 }
 
 .txt-bienvenido{
 
  color: rgb(118, 210, 252);
  text-decoration:solid;
 
 }
 